{% extends "base.html" %}
{% block title %}animal-info{% endblock %}
{% block content %}

<div id="heading">
    <h1>DOCTOR SESSION</h1>
</div>

<div class="my-md-3 container">
    <div class="row">
        <div class="container col-12">
            <div>
                <hr>
                <div>
                    <label id="input-group-1__BV_label_" for="input-1" class="d-block">
                        <h4>RESULTS</h4>
                    </label>
                    <br />
                    <table class="center">
                        <tr>
                            {% for heading in colnames %}
                            <td class="td_style_2">
                                {{heading[14:].upper()}}
                            </td>
                            {% endfor %}
                        </tr>
                        {% for attributes in results %}
                        <tr>
                            {% for sub_attributes in attributes %}
                            <td class="td_style_1">
                                {{sub_attributes}}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                    <br />
                    <form action="#" method="post">
                        <div class="text-center">
                            <button type="submit" class="btn m-1 btn-dark btn-sm" style="
                                font-weight: bold;
                                background-color: var(--nord7);
                                border-color: var(--nord7);
                                color: var(--nord1);
                                " onmouseover="change_color(this)" onmouseout="restore_color(this)">
                                Logout
                            </button>
                        </div>
                    </form>
                    <script src="{{ url_for('static',filename='styles/custom.js') }}"></script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}