{% extends "base.html" %}
{% block title %}animal-info{% endblock %}
{% block content %}

<style>
    .center {
        position: relative;
        margin-left: 600px;
    }
</style>

<div id="heading">
    <h1>GENERAL PUBLIC LOGIN</h1>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center;">
    {{msg}}
</div>
<script type="text/javascript">
    setTimeout(function () {
        $('.alert').alert('close');
    }, 400);
</script>
{% endfor %}
{% endif %}
{% endwith %}

<div class="my-md-3 container">
    <div class="row">
        <div class="container col-12">
            <div>
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
                <div class="center">
                    <form action="#" method="post">
                        <div id="input-group-1" role="group" class="form-group">
                            <label id="input-group-1__BV_label_" for="input-1" class="d-block">
                                <h4>Operation</h4>
                            </label>
                            <br />
                            <form method="post">
                                <div class="card" style="width: 18rem; background-color: var(--nord0);">
                                    <div class="card-body">
                                        <input type="radio" name="name" value="select" />
                                        <label>
                                            <h6>Select</h6>
                                        </label>
                                    </div>
                                </div>
                                        <br />

                                <button type="submit" class="btn m-1 btn-dark btn-sm" style="
                                font-weight: bold;
                                background-color: var(--nord7);
                                border-color: var(--nord7);
                                color: var(--nord1);
                                " onmouseover="change_color(this)" onmouseout="restore_color(this)">
                                    Proceed
                                </button>
                                <script>
                                    let nord0 = "#2E3440";
                                    let nord1 = "#3B4252";
                                    let nord8 = "#88C0D0";
                                    let merc0 = "#212529";
                                    let merc1 = "#009688";
                                    let nord7 = "#8FBCBB";
                                    function change_color(current_element) {
                                        current_element.style["background-color"] = nord1
                                        current_element.style["border-color"] = nord1
                                        current_element.style["color"] = nord7
                                    }
                                    function restore_color(current_element) {
                                        current_element.style["background-color"] = nord7
                                        current_element.style["border-color"] = nord7
                                        current_element.style["color"] = nord1
                                    }
                                </script>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}