{% extends "base.html" %}
{% block title %}animal-info{% endblock %}
{% block content %}

<style>
    .center {
        margin-left: 200px;
        margin-right: 200px;
        position: relative;
    }
</style>

<div id="heading">
    <h1>GENERAL PUBLIC</h1>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center;">
    {{msg}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<script type="text/javascript">
    setTimeout(function () {
        $('.alert').alert('close');
    }, 400);
</script>

<div class="my-md-3 container">
    <div class="row">
        <div class="container col-12">
            <div>
                <hr>
                <div>
                    <label id="input-group-1__BV_label_" for="input-1" class="d-block">
                        <h4>LOGIN DETAILS:</h4>
                    </label>
                    <br />
                    <form action="" method="post">
                        <div id="input-group-1" role="group" class="form-group">
                            <div class="card" style="background-color: var(--nord0);">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Aadhar</label>
                                        <input type="text" class="form-control" placeholder="Enter Aadhar no."
                                            name="aadhar">
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Enter password"
                                            name="password">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button type="submit" name="proceed-submit" class="btn m-1 btn-dark btn-sm"
                                value="login-flag" style="
                                font-weight: bold;
                                background-color: var(--nord7);
                                border-color: var(--nord7);
                                color: var(--nord1);
                                " onmouseover="change_color(this)" onmouseout="restore_color(this)">
                                Login
                            </button>
                            <script src="{{ url_for('static',filename='styles/custom.js') }}"></script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}