{% extends "base.html" %}
{% block title %}animal-info{% endblock %}
{% block content %}

<style>
    .center {
        position: relative;
        margin-left: 600px;
    }
</style>

<div id="heading">
    <h1>PET SHOP LOGIN</h1>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center;">
    {{msg}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<script type="text/javascript">
    setTimeout(function () {
        $('.alert').alert('close');
    }, 400);
</script>

<div class="my-md-3 container">
    <div class="row">
        <div class="container col-12">
            <div>
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
                <div>
                    <form action="#" method="post">
                        <div id="input-group-1" role="group" class="form-group">
                            <label id="input-group-1__BV_label_" for="input-1" class="d-block">
                                <h4>Table</h4>
                            </label>
                            <br />
                            <form method="post">
                                <div class="card" style="background-color: var(--nord0);">
                                    <div class="card-body">
                                        <input type="radio" name="name" value="peopleAdoptedWithMore" />
                                        <label>
                                            <h6>People who have adopted animal from pet shop with more than 50 pets</h6>
                                        </label>
                                    </div>
                                </div>
                                <br />
                                <button type="submit" class="btn m-1 btn-dark btn-sm" style="
                                font-weight: bold;
                                background-color: var(--nord7);
                                border-color: var(--nord7);
                                color: var(--nord1);
                                " onmouseover="change_color(this)" onmouseout="restore_color(this)">
                                    Proceed
                                </button>
                                <script src="{{ url_for('static',filename='styles/custom.js') }}"></script>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}