{% extends "base.html" %}
{% block title %}animal-info{% endblock %}
{% block content %}

<div id="heading">
    <h1>ANIMAL TYPE CARE</h1>
</div>

<div class="my-md-3 container">
    <div class="row">
        <div class="container col-12">
            <div>
                <hr>
                <div>
                    <label id="input-group-1__BV_label_" for="input-1" class="d-block">
                        <h4>INSERT DETAILS:</h4>
                    </label>
                    <br />
                    <form action="" method="post">
                        <div id="input-group-1" role="group" class="form-group">
                            <div class="card" style="background-color: var(--nord0);">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Id</label>
                                        <input type="text" class="form-control" placeholder="Enter id" name="id">
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label>Type of Care</label>
                                        <input name="typeOfCare" type="text" class="form-control"
                                            placeholder="Enter type of care">
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label>Breed</label>
                                        <input type="text" class="form-control" placeholder="Enter breed" name="breed">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button type="submit" name="proceed-submit" class="btn m-1 btn-dark btn-sm"
                                value="login-flag" style="
                                font-weight: bold;
                                background-color: var(--nord7);
                                border-color: var(--nord7);
                                color: var(--nord1);
                                " onmouseover="change_color(this)" onmouseout="restore_color(this)">
                                Proceed
                            </button>
                            <script src="{{ url_for('static',filename='styles/custom.js') }}"></script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}