{% extends "base.html" %}
{% block title %}animal-info{% endblock %}
{% block content %}


<div id="heading">
    <h1>ANIMAL SHELTER</h1>
</div>

<div class="my-md-3 container">
    <div class="row">
        <div class="container col-12">
            <div>
                <hr>
                <div>
                    <label id="input-group-1__BV_label_" for="input-1" class="d-block">
                        <h4>INSERT DETAILS:</h4>
                    </label>
                    <br />
                    <form action="" method="post">
                        <div id="input-group-1" role="group" class="form-group">
                            <div class="card" style="background-color: var(--nord0);">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Animal ID</label>
                                        <input type="text" class="form-control" placeholder="Enter Animal ID"
                                            name="animalId">
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Shelter Certificate No.</label>
                                        <input name="animalShelterCertificateNo" type="text" class="form-control"
                                            placeholder="Enter Animal Shelter Certificate No.">
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Type ID</label>
                                        <input type="text" class="form-control" placeholder="Enter Animal Type ID"
                                            name="animalTypeId">
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Disease History Exists: (true/false)</label>
                                        <input type="text" class="form-control" placeholder="Enter true/false"
                                            name="animalDiseaseHistoryExists">
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Gender</label>
                                        <input type="text" class="form-control" placeholder="Enter Animal Gender"
                                            name="animalGender">
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Weight</label>
                                        <input type="number" class="form-control" placeholder="Enter Animal Weight"
                                            name="animalWeight">
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Age</label>
                                        <input type="number" class="form-control" placeholder="Enter Animal Age"
                                            name="animalAge">
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Price</label>
                                        <input type="number" class="form-control" placeholder="Enter Animal Price"
                                            name="animalPrice">
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Image Link</label>
                                        <input type="text" class="form-control" placeholder="Enter Animal Image Link"
                                            name="animalImageLink">
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button type="submit" name="proceed-submit" class="btn m-1 btn-dark btn-sm"
                                value="login-flag" style="
                                font-weight: bold;
                                background-color: var(--nord7);
                                border-color: var(--nord7);
                                color: var(--nord1);
                                " onmouseover="change_color(this)" onmouseout="restore_color(this)">
                                Proceed
                            </button>
                            <script src="{{ url_for('static',filename='styles/custom.js') }}"></script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}